agent-personalities-Agent Personalities.json
{
  "updatedAt": "2026-02-09T08:37:44.244Z",
  "createdAt": "2026-02-09T08:09:16.164Z",
  "id": "mKKfc2EiVZ5YKF6BGtOo8",
  "name": "Agent Personalities",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "9252d50b-09f3-447d-93ee-374516418f22",
      "name": "When chat message received",
      "webhookId": "8bceeabf-7166-40b1-b619-0be839065458"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Answer me shortly"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "c5128e51-c405-43d4-a835-ca1e12772fcb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -256,
        192
      ],
      "id": "c3feb700-6dce-4f13-89a6-c24e2c8812f6",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "c97AT1tS9BPJfAfB",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "329762f8-8691-41f7-bf16-b8aefd2e32e4",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        368,
        208
      ],
      "id": "ed11a117-b713-49cf-8054-ef7448ae96d5",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "3c6852ec-ce02-436a-b771-687fa00bd355",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PxuVQEwJfOlSgdpe",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1c22ef96-10f0-4861-91c4-d7097537c8ee",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-09T08:09:16.168Z",
      "createdAt": "2026-02-09T08:09:16.168Z",
      "role": "workflow:owner",
      "workflowId": "mKKfc2EiVZ5YKF6BGtOo8",
      "projectId": "yBptm4mfF88EIOKa"
    }
  ],
  "activeVersion": null,
  "tags": []
}